.Button {
  button{
    border-radius: 4rem;
    padding: 0.8rem 2rem;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    &:not(.blue){
        background-color: transparent;
        border: 1px solid #fff;   
    }
    &.blue{
        background-color: #2d69fd;
        
    }
  } 
}